---
---
@import "minima";
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {background-color: #f2f2f2;}



/* Three image containers (use 25% for four, and 50% for two, etc) */
.twoColumn {
  float: left;
  width: 50%;
}

.threeColumn {
  float: left;
  width: 33.33%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
